body {
    margin: 15px;
    background-color: ghostwhite;
    max-width: fit-content;
}

h1 {
    text-align: center;
}

.coder{
    text-align: center;
}

.coder-name {
    color: fuchsia;
}

.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.country {
    border: 3px solid grey;
    background-color: gainsboro;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.country img {
    width: 200px;
}